<?xml version="1.0"?>
<model>
    <name>Custom Bebop 2</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Julio César Rodríguez</name>
        <email>hello@juliordz.com</email>
    </author>

    <description>
        A custom configuration of the Parrot Bebop 2 drone using original 3D meshes by Olivier Crave. 
        The control system, dynamics, and sensor configuration are independently develope
